body {
    background: rgb(96, 123, 128);
}
.image {
    margin-top: 50px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.insert{
    width: 200px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
